.tribe-common .tribe-common-form-control-radio__label,
.tribe-common .tribe-common-form-control-checkbox__label,
.tribe-common .tribe-common-form-control-slider__label,
.tribe-common .tribe-common-form-control-text__input,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input, #top .main_color .tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input, #top .main_color .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-toggle__label,
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common .tribe-common-b3,
.tribe-common .tribe-common-cta,
.tribe-common .tribe-common-h1,
.tribe-common .tribe-common-h2,
.tribe-common .tribe-common-h3,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8,
.tribe-theme-avada #main .tribe-common .tribe-common-h1,
.tribe-theme-avada #main .tribe-common .tribe-common-h2,
.tribe-theme-avada #main .tribe-common .tribe-common-h3,
.tribe-theme-avada #main .tribe-common .tribe-common-h4,
.tribe-theme-avada #main .tribe-common .tribe-common-h5,
.tribe-theme-avada #main .tribe-common .tribe-common-h6,
.tribe-theme-avada #main .tribe-common .tribe-common-h7,
.tribe-theme-avada #main .tribe-common .tribe-common-h8,
.tribe-common a.tribe-common-c-btn-border,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn,
.tribe-common .tribe-common-c-btn,
.tribe-common .tribe-common-form-control-radio__label,
.tribe-common .tribe-common-form-control-checkbox__label,
.tribe-common .tribe-common-form-control-slider__label,
.tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-toggle__label,
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common .tribe-common-b3,
.tribe-common .tribe-common-cta,
.tribe-common .tribe-common-h1,
.tribe-common .tribe-common-h2,
.tribe-common .tribe-common-h3,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8,
.tribe-theme-avada #main .tribe-common .tribe-common-h1,
.tribe-theme-avada #main .tribe-common .tribe-common-h2,
.tribe-theme-avada #main .tribe-common .tribe-common-h3,
.tribe-theme-avada #main .tribe-common .tribe-common-h4,
.tribe-theme-avada #main .tribe-common .tribe-common-h5,
.tribe-theme-avada #main .tribe-common .tribe-common-h6,
.tribe-theme-avada #main .tribe-common .tribe-common-h7,
.tribe-theme-avada #main .tribe-common .tribe-common-h8,
.tribe-common a.tribe-common-c-btn-border,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn,
.tribe-common .tribe-common-c-btn,
.tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input,
.tribe-events .tribe-events-calendar-list,
.tribe-events .tribe-events-calendar-list__event--description,
.tribe-events .tribe-events-c-breadcrumbs__list,
.tribe-events .datepicker .datepicker-switch,
.tribe-events .datepicker .dow,
.tribe-events .datepicker .day,
.tribe-events .datepicker .year,
.tribe-events .datepicker .month,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--labels .tribe-events-c-view-selector__button-text,
.tribe-events .tribe-events-c-view-selector__list-item-text,
.tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events .tribe-events-calendar-month__calendar-event-datetime,
.tribe-events .tribe-events-calendar-month__calendar-event-tooltip-datetime,
.tribe-events .datepicker .datepicker-switch,
.tribe-events .datepicker .dow,
.tribe-events .datepicker .day,
.tribe-events .datepicker .year,
.tribe-events .datepicker .month,
.tribe-events .tribe-events-c-small-cta__price,
.tribe-events .tribe-events-c-view-selector__list-item-text,
.tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events .tribe-events-calendar-month__calendar-event-datetime,
.tribe-events .tribe-events-c-view-selector__button-text {
	font-family: inherit;
}

.tribe-events-pro .tribe-events-pro-photo__event-date-tag-month,
.tribe-events-pro .tribe-events-pro-week-grid__events-time-tag,
.tribe-events-pro .tribe-events-pro-week-grid__event-datetime,
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-datetime,
.tribe-events-pro .tribe-events-pro-map__event-date-tag-month,
.tribe-events-pro .tribe-events-pro-photo__event-date-tag-weekday,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-events-tag,
.tribe-events-pro .tribe-events-pro-week-grid__events-time-tag,
.tribe-events-pro .tribe-events-pro-week-grid__event-datetime,
.tribe-events-pro .tribe-events-pro-map__event-date-tag-weekday {
	font-family: inherit;
}
